.nav {
    /* Nav barın içindeki yazıları saga yaslama  */
    background-color: rgb(251, 251, 251);
    list-style-type: none;
    text-align: right; 
    padding: 0;
    margin: 0;
  }
  footer {
    position: fixed;
    bottom: 0px;
    left: 0%;
    right: 0%;
    width: 100%;
    
    background-color: rgb(255, 255, 255);
    color:rgb(3, 3, 3);
   }
  
  .footer{
    /* footerın içindeki yazıları sola yaslama  */
    background-color: rgb(251, 251, 251);
    list-style-type: none;
    /* text-align:; */
    padding: 0;
    margin: 0;  
  }

  .footer-sag{  
    /*Footerın içindeki yazıları saga yaslama */
    background-color: rgb(251, 251, 251);
    list-style-type: none;
    text-align: right; 
    padding: 0;
    left: 0;
  }
  li{ 
    /* liste elemanlarının başındaki işareti kaldırma ve boyutlandırma */
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }


  .yuvarlak{
    /* resimleri ve kutuları yuvarlak yapma  */
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }
  .kare{
    /* resimleri ve kutuları kare yapma  */
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.sectionOrt{
    /* sectionu ortalama ve boyutlandırma */
    width: 70%;
    background-color: rgb(254, 254, 254);
    position: relative;
    margin: auto;
} 
.articleOrt{
    width: 30%;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: auto;
}
.bg-color{
    /* Arka plan rengi değiştirme */
    background-color: antiquewhite;
}
  a{
    text-decoration:none
  }
  a:hover{
    color:chartreuse
  }
  .card {
    width: 100%;
    height: 40%     ;
    float: left;
    padding: 0%;
    margin-right: 0%;
    background-color: rgb(209, 209, 209);
    border-radius: 0px;} 
    